<% include header %>

	<div class="page bg-stripes">
		<!-- Page Header -->
		<header>			
			<a href="/blog" class="site-title">Fradinni's Blog</a>
			<% if(typeof user != "undefined" && user) { %>
				<a href="/logout" data-role="extern" class="logout"><%= user.username %>&nbsp;&nbsp;|&nbsp;&nbsp;Logout</a>
				<% if(user.roles[0] == 'ADMIN') { %>
					<a href="/admin" data-role="extern" class="button-blue">Admin</a>
				<% } %>
			<% } else { %>
				<a href="/auth/google" class="google-signin-red" data-role="extern"></a>
			<% } %>
			<a 	href="https://twitter.com/fradinni" 
				class="twitter-follow-button" 
				data-show-count="true" 
				data-lang="en" 
				data-size="large">Follow @fradinni</a>
		</header>

		<!-- Page content -->
		<div class="content">

			<div class="side-panel">
				<img src="/img/avatar.jpg" class="avatar"></img>
				<ul class="infos">
					<li>Nicolas FRADIN</li>
					<li>26 ans</li>
				</ul>
				<ul class="links">
					<li class="category-name">Liens</li>
					<li><a href="/">Site web</a></li>
					<li><a href="/cv">Mon cv</a></li>
				</ul>
				<ul class="categories">
					<li class="category-name">Categories</li>
					<li><a href="#">Divers</a></li>
					<li><a href="#">Electronique</a></li>
					<li><a href="#">Developpement</a></li>
					<li><a href="#">Jeux video</a></li>
				</ul>
			</div>

			<div class="main-panel">