<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nfradin.fr</title>
    <meta name="description" content="Site web / Blog perso.">
    <meta name="author" content="Nicolas FRADIN">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/lib/require.js" data-main="js/app"></script>

    <!-- styles -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- -->
  </head>
  <body>