<% include layout/blog_header %>

	<h2>Administration</h2>
	<br />
	<a href="/admin_users">-> Blog users</a>
	<br />
	<a href="/admin">-> Blog categories</a>
	<br />
	<a href="/admin">-> Blog articles</a>
	<br />
	<br />
	<a href="/logout">-> Logout</a>

<% include layout/blog_footer %>