<% include layout/blog_header %>
	
	<a href="/admin">< Admin</a>
	<br /><br />
	<h2>Blog Articles</h2>
	<br />
	<a href="/editor?a=new" data-role="extern">New article</a>
	<br />
	<br />
	<table class="articles-list">
	</table>

<% include layout/blog_footer %>