<% include layout/blog_header %>

	<h2>Administration</h2>
	<br />
	<a href="/admin_users" data-role="extern">-> Blog users</a>
	<br />
	<a href="/admin_categories" data-role="extern">-> Blog categories</a>
	<br />
	<a href="/admin" data-role="extern">-> Blog articles</a>
	<br />
	<br />
	<a href="/logout" data-role="extern">-> Logout</a>

<% include layout/blog_footer %>