<% include layout/header %>

	<div class="page bg-stripes">
		<!-- Page Header -->
		<header>			
			<a href="/blog" class="site-title">Fradinni's Blog</a>
			<a 	href="https://twitter.com/fradinni" 
				class="twitter-follow-button" 
				data-show-count="true" 
				data-lang="en" 
				data-size="large">Follow @fradinni</a>
		</header>

		<!-- Page content -->
		<div class="content">

			<div class="side-panel">
				<img src="/img/avatar.jpg" class="avatar"></img>
				<ul class="infos">
					<li>Nicolas FRADIN</li>
					<li>26 ans</li>
				</ul>
				<ul class="links">
					<li class="category-name">Liens</li>
					<li><a href="/">Site web</a></li>
					<li><a href="/cv">Mon cv</a></li>
				</ul>
				<ul class="categories">
					<li class="category-name">Categories</li>
					<li><a href="#">Divers</a></li>
					<li><a href="#">Electronique</a></li>
					<li><a href="#">Developpement</a></li>
					<li><a href="#">Jeux video</a></li>
				</ul>
			</div>

			<div class="main-panel">
				<!-- <h2>Articles</h2> -->
				<div class="post">
					<div class="post-header">
						<h2>Connect an Arduino with Android</h2>
					</div>
					<div class="post-category ribbon-blue"><a href="/blog">Electronique</a></div>
					<img src="/img/article-cover-1.jpg" class="post-cover"></img>
					<div class="post-preview">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim...
						</p>
						<a href="/blog" class="read_next">Lire la suite...</a>
					</div>
				</div>

				<div class="post">
					<div class="post-header">
						<h2>NodeJS - How to Express Roads</h2>
					</div>
					<div class="post-category ribbon-green"><a href="/blog">Developement</a></div>
					<img src="/img/article-cover-2.jpg" class="post-cover"></img>
					<div class="post-preview">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim...
						</p>
						<a href="/blog" class="read_next">Lire la suite...</a>
					</div>
				</div>

				<div class="post">
					<div class="post-header">
						<h2>COD BO2 - Nucléaire au MSMC sur Nuketown 2025</h2>
					</div>
					<div class="post-category ribbon-red"><a href="/blog">Jeux video</a></div>
					<img src="/img/article-cover-3.jpg" class="post-cover"></img>
					<div class="post-preview">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim...
						</p>
						<a href="/blog" class="read_next">Lire la suite...</a>
					</div>
				</div>

				<div class="post">
					<div class="post-header">
						<h2>Windows 8 - Dossier optimization</h2>
					</div>
					<div class="post-category ribbon-yellow"><a href="/blog">Divers</a></div>
					<img src="/img/article-cover-4.jpg" class="post-cover"></img>
					<div class="post-preview">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim...
						</p>
						<a href="/blog" class="read_next">Lire la suite...</a>
					</div>
				</div>
			</div>

			<div class="scrollToTop"></div>

			<!--
			<div class="popular-posts-wrapper">
				<h2>Most popular articles</h2>
				<ul class="popular-posts">
					<li class="post">
						<div class="post-image"></div>
						<div class="post-preview">
							<span class="post-title">Connect arduino to Android phone</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim</p>
						</div>
					</li>
					<li class="post">
						<div class="post-image"></div>
						<div class="post-preview">
							<span class="post-title">Connect arduino to Android phone</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim</p>
						</div>
					</li>
					<li class="post">
						<div class="post-image"></div>
						<div class="post-preview">
							<span class="post-title">Connect arduino to Android phone</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim</p>
						</div>
					</li>
				</ul>
			</div>
			-->
		</div>
	</div>

<% include layout/footer %>