
<div class="post-header">
	<h2><%= article.title %></h2>
</div>
<div class="post-category ribbon-green"><a href="/blog">article.category.name</a></div>
<img src="/img/article-cover-2.jpg" class="post-cover"></img>
<div class="post-preview">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam malesuada at massa sed lobortis. Aliquam placerat, mauris non elementum blandit, ipsum risus semper magna, nec gravida nunc mi quis velit. Nullam dapibus rhoncus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eget nisi at lacus tristique gravida. Vestibulum vehicula malesuada sollicitudin. Mauris vel varius enim...
	</p>
	<a href="/blog" class="read_next">Lire la suite...</a>
</div>