<% include layout/header %>

	<div class="page bg-montain">
		<header>
			<a 	href="https://twitter.com/fradinni" 
				class="twitter-follow-button" 
				data-show-count="true" 
				data-lang="en" 
				data-size="large">Follow @fradinni</a>
		</header>
		<div class="title">
			<h1>Fradinni</h1>
			<h2>(Nicolas FRADIN)</h2>
			<div class="desc">
				<p>Ingénieur Etude et Dev.</p>
				<p>#Grails &nbsp;#JAVA &nbsp;#NodeJS &nbsp;#Backbone &nbsp;#PhoneGap &nbsp;#iOS &nbsp;#Android</p>
				<p>Electronique: &nbsp;Arduino, &nbsp;Beaglebone, &nbsp;C, &nbsp;C++</p>
			</div>
		</div>

		<ul class="ch-grid">
		    <li>
		    	<a href="/blog">
			        <div class="ch-item ch-img-1">
			            <div class="ch-info">
			                <h3>Blog</h3>
			                <p>Articles sur le dev. et l'électronique</p>
			            </div>
			        </div>
		    	</a>
		    </li>
		    <li>
		        <div class="ch-item ch-img-2">
		            <div class="ch-info">
		                <h3>CV</h3>
		                <p>Mon parcours</p>
		            </div>
		        </div>
		    </li>
		    <li>
		        <div class="ch-item ch-img-3">
		            <div class="ch-info">
		                <h3>Github</h3>
		                <p>Mes repositories</p>
		            </div>
		        </div>
		    </li>
		</ul>

		<footer>
			<p>Nicolas FRADIN - 2013 - Source code is free and available on <a link-role="extern" href="http://github.com/fradinni/nfradin.fr" target="_blank">GitHub</a>.</p>
		<footer>
	</div>


	
<% include layout/footer %>